---
import MinimalistLayout from "@/layouts/MinimalistLayout.astro";

import About from "@/components/Minimalist/Sections/About.astro";
import Education from "@/components/Minimalist/Sections/Education.astro";
import Experience from "@/components/Minimalist/Sections/Experience.astro";
import Hero from "@/components/Minimalist/Sections/Hero.astro";
import Projects from "@/components/Minimalist/Sections/Projects.astro";
import Skills from "@/components/Minimalist/Sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { basics, skills, work, education, projects } = t("cv");
//console.log(t("cv"));
//console.log(basics);
---

<MinimalistLayout
  title="Portfolio de Buscer"
  description="Desarrollador y Programador Web con 3 años de experiencia"
>
  <main>
    <Hero basics={basics} />
    <About basics={basics} />
    <Skills skills={skills} />
    <Experience work={work} />
    <Education education={education} />
    <Projects projects={projects} />
  </main>

  <KeyboardManager />
</MinimalistLayout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
