---
import Layout from "@/layouts/Layout.astro";
import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";
import Experience from "@/components/Experience.astro";
import Container from "@/components/Container.astro";
import Projects from "@/components/Projects.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import type { Section, Page } from "@/interfaces/PageData.ts";
import type { CvData } from "@/interfaces/CvData";
const { title, description, saludo }: Page = t("page") as Page;

const { basics, work, projects, skills }: CvData = t("cv") as CvData;

import { ICONS } from "@/icons/icons.astro";
import CardMe from "../CardMe.astro";
const { Code, Briefcase } = ICONS;

const SECTIONS = t("section") as Section;
const { experience: t_experience, projects: t_projects } = SECTIONS;
---

<Layout title={title} description={description}>
  <main class="px-4">
    <Container id="top" class="md:py-32 py-20">
      <Container id="sobre-mi">
        <CardMe
          saludo={saludo}
          basics={basics}
          skills={skills}
          startYear={work?.[work.length - 1]?.startDate}
        />
      </Container>
      <Container />
    </Container>

    <Container id="experiencia" class="mb-32">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-6" />
        {t_experience}
      </h2>
      <Experience work={work} />
    </Container>
    <Container id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7" />
        {t_projects}
      </h2>
      <Projects projects={projects} />
    </Container>
  </main>
</Layout>

<style>
  #contacto ul {
    display: ruby;
  }
  #contacto ul li {
    display: inline-flex;
  }
</style>
