---
import type { Project } from "@/interfaces/CvData";



interface Props {
  title: string;
  position: string;
  description?: string;
  startDate: string;
  endDate?: string;
  link?: string;
  image?: string;
  highlights?: string[];
  projects?: Project[];
  featuredProjects: string;
}
const {
  title,
  position,
  description,
  startDate,
  endDate,
  link,
  image,
  highlights,
  projects,
  featuredProjects
} = Astro.props;

const startDate_short = startDate
  ? new Date(startDate).toLocaleDateString("es-MX", {
      month: "short",
      year: "numeric",
    })
  : "No Info";
const endDate_short = endDate
  ? new Date(endDate).toLocaleDateString("es-MX", {
      month: "short",
      year: "numeric",
    })
  : "Actual";

const date = startDate_short + " - " + endDate_short;
---

<article>
  <header>
    <div>
      <h3 style="font-weight: bold; font-style: italic; ">{title}</h3>
      <div class="info">
        <h4>{position} {description}</h4>
        <time>
          {date}
        </time>
      </div>
    </div>
  </header>
  <footer>
    {
      highlights && (
        <ul>
          {highlights.map((tag) => (
            <li>{tag}</li>
          ))}
        </ul>
      )
    }
    {
      link && (
        <a href={link} target="_blank" rel="noopener noreferrer">
          Ver {title}
        </a>
      )
    }
    {
      image && (
        <img src={image} alt={`Captura de pantalla del proyecto ${title}`} />
      )
    }
    {
      projects && projects.length > 0 && (
        <p class="subtitle">{featuredProjects}</p>
        <ul>
          {projects.map(({ name, highlights, technologies, summary, url }) => (
            <li>
              <b>{name}</b> ({highlights?.join(", ")}) 
              <br/>
              [{technologies?.join(", ")}]
            </li>
          ))}
        </ul>
      )
    }
  </footer>
</article>
<style>
  .subtitle {
    font-weight: bold;
    font-style: italic;
  }
  article h3 {
    color: #111;
    font-weight: 400;
  }
  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: block;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: flex-start;
  }

  header .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header time {
    text-align: right;
    font-size: 0.9rem;
    color: #666;
    text-transform: capitalize;
  }
  footer ul {
    padding-left: 2rem;
  }
  footer ul li {
    list-style: disc;
    font-size: 0.75rem;
    color: #666;
    text-wrap: pretty;
    padding: 0.1rem;
  }

@media print{
  article{
    text-align: justify;
  }
}
</style>
