---
import LanguagePicker from "@/components/LanguagePicker.astro";

//import { getRelativeLocaleUrl } from "astro:i18n";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import type { Nav } from "@/interfaces/PageData.ts";

const NAV = t("nav") as Nav;
const { home, experience, projects, about, contact, cv } = NAV;

//const aboutURL = getRelativeLocaleUrl(lang, "cv");
---

<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <span></span>
  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="#top">{home}</a>
    <a href="#experiencia">{experience}</a>
    <a href="#proyectos">{projects}</a>
    <a href="#sobre-mi">{about}</a>
    <a href="#contacto">{contact}</a>
    <a href={(lang == "es" ? "" : lang) + "/cv"}>{(lang == "es" ? "" : lang) + "/cv"}{cv}</a>
    <LanguagePicker />
  </nav>
</header>
<style>
  nav a {
    min-width: max-content;
    width: 50px;
    max-width: max-content;
  }
</style>
