---
import { ICONS } from "@/icons/icons.astro";
import type { CvData } from "@/interfaces/CvData.ts";
const { projects } = Astro.props as CvData;
---

{
  projects.map(({ name, description, image, highlights }) => (
    <article>
      <h3>{name}</h3>
      <p>{description}</p>
      <ul class=" gap-x-2">
        {highlights.map((tag) => {
          const Icon = ICONS[tag];
          return (
            <li>
              {Icon && <Icon class="size-5 text-purple-300/90" title={tag} />}
              {tag}
            </li>
          );
        })}
      </ul>
      <img src={image} alt={`Captura de pantalla del proyecto ${name}`} />
    </article>
  ))
}

<style>
  article ul {
    display: ruby;
  }
  article ul li {
    display: inline-flex;
    margin: 0.5rem;
    justify-items: center;
    background-color: #23262d;
    border: 1px solid #d8b4fee6;
    border-radius: 1rem;
    padding: 0.5rem;
  }
</style>
