---
import Section from "@/components/Minimalist/Section.astro";
//import { education } from "@cv";
const {education} = Astro.props;
import CardTime from "@/components/CardTime.astro";
---

<Section title="Educación">
  <ul>
    {
      education.map(({ institution, area, studyType, startDate, endDate }) => (
        <li>
          <CardTime
            title={institution}
            position={studyType}
            description={area}
            startDate={startDate}
            endDate={endDate}
          />
        </li>
      ))
    }
  </ul>
  <style>
    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  </style>
</Section>
