---
import Section from "@/components/Minimalist/Section.astro";

import type { CvData } from "@/interfaces/CvData.ts";

const { title } = Astro.props;
const { education } = Astro.props as CvData;

import CardTime from "@/components/CardTime.astro";
---

<Section title={title}>
  <ul>
    {
      education.map(({ institution, area, studyType, startDate, endDate }) => (
        <li>
          <CardTime
            title={institution}
            position={studyType}
            description={area}
            startDate={startDate}
            endDate={endDate}
          />
        </li>
      ))
    }
  </ul>
  <style>
    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  </style>
</Section>
