---
import Section from "../Section.astro";
//import { work } from "@cv";
const { title, featuredProjects } = Astro.props;
import type { CvData } from "@/interfaces/CvData.ts";
const { work, projects } = Astro.props as CvData;
import CardTime from "@/components/CardTime.astro";
---

<Section title={title}>
  <ul>
    {
      work.map(
        ({
          id,
          name,
          startDate,
          endDate,
          position,
          summary,
          highlights,
          url,
        }) => (
          <li class="py-2">
            <CardTime
              title={name}
              position={position}
              startDate={startDate}
              endDate={endDate ? endDate : undefined}
              description={summary}
              highlights={highlights}
              projects={projects.filter((p) => p.id_work === id && p.featured)}
              featuredProjects={featuredProjects}
            />
          </li>
        ),
      )
    }
  </ul>
</Section>
<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  @media print {
    ul {
      gap: 0px;
    }
    li {
      padding: 0px;
    }
  }
</style>
