---
import Section from "../Section.astro";
//import { work } from "@cv";
const { title } = Astro.props;
import type { CvData } from "@/interfaces/CvData.ts";
const { work } = Astro.props as CvData;
import CardTime from "@/components/CardTime.astro";
---

<Section title={title}>
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => (
          <li class="py-2">
            <CardTime
              title={name}
              position={position}
              startDate={startDate}
              endDate={endDate ? endDate : undefined}
              description={summary}
              highlights={highlights}
            />
          </li>
        )
      )
    }
  </ul>
</Section>
<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
