---
import Section from "@/components/Minimalist/Section.astro";
import MailSend from "@/icons/MailSEnd.astro";
import Github from "@/icons/Github.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import PhoneCall from "@/icons/PhoneCall.astro";

import { basics } from "@cv";
const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  Github,
  LinkedIn,
};
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        {city}, {region}
      </span>
      <footer>
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <MailSend />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al numero ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <PhoneCall />
            </a>
          )
        }
      </footer>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>
