---
import Section from "../Section.astro";

//import { projects } from "@cv";

import type { CvData } from "@/interfaces/CvData.ts";
const { title, personalProject } = Astro.props;
const { projects, work } = Astro.props as CvData;
---

<Section title={title}>
  <ul>
    {
      projects.map(
        ({
          name,
          description,
          summary,
          url,
          highlights,
          id_work,
          technologies,
        }) => {
          let work_company = work.find((w) => w.id === id_work)?.name;
          return (
            <li class="py-2">
              <p>
                {url ? (
                  <a href={url} target="_blank">
                    <span class="no-print">🔗 </span>
                    {name}
                    {work_company ? " - " + work_company : ""}
                  </a>
                ) : (
                  <b>
                    {name}
                    {work_company
                      ? " - " + work_company
                      : " - " + personalProject}
                  </b>
                )}
                <p>{summary}</p>
                <p>({highlights?.join(", ")})</p>
                <p class="italic">[{technologies?.join(", ")}]</p>
              </p>
            </li>
          );
        },
      )
    }
  </ul>
</Section>
<style>
  a {
    font-weight: bold;
  }
</style>
