---
import Section from "../Section.astro";

//import { projects } from "@cv";

import type { CvData } from "@/interfaces/CvData.ts";
const { title } = Astro.props;
const { projects } = Astro.props as CvData;

import LinkExtrernalIcon from "@/icons/Link-External.astro";
---

<Section title={title}>
  <ul>
    {
      projects.map(({ name, description, summary, url, highlights }) => (
        <li class="py-2">
          <p>
            {url ? (
              <a href={url} target="_blank">
                {"🔗 " + name}
              </a>
            ) : (
              <b>{name}</b>
            )}
            - {summary} (
            {highlights?.map((highlight, i) => (
              <i>
                {highlight}
                {i < highlights.length - 1 ? ", " : "."}
              </i>
            ))}
            )
          </p>
        </li>
      ))
    }
  </ul>
</Section>
<style>
  a {
    font-weight: bold;
  }
</style>
